{% extends 'base.html' %}

{% block header %}
    <h1 class="title has-text-centered">{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            {% for message in get_flashed_messages() %}
                <div class="notification is-danger is-light">
                    <button class="delete"></button>
                    {{ message }}
                </div>
            {% endfor %}
            <form method="POST" action="{{ url_for('auth.register') }}" class="box">
                <div class="field">
                    <label for="username" class="label">Username</label>
                    <div class="control has-icons-left">
                        <input type="text" placeholder="Your username" name="username" class="input" id="username"
                               required>
                        <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
                    </div>
                </div>
                <div class="field">
                    <label for="password" class="label">Password</label>
                    <div class="control has-icons-left">
                        <input type="password" placeholder="*******" name="password" class="input" id="password"
                               required>
                        <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
                    </div>
                </div>
                <div class="field">
                    <button type="submit" value="Register" class="button is-info is-fullwidth">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}