{% extends 'base.html' %}

{% block header %}
    <h1 class="title has-text-centered">{% block title %}Edit Post{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST" class="box">
        <div class="field">
            <label for="body" class="label">Text</label>
            <textarea class="textarea is-info" name="body" id="body"
                      placeholder="Description text here ...">{{ request.form['body'] or post['body'] }}</textarea>
        </div>
        <div class="field">
            <button type="submit" class="button is-info is-fullwidth">
                Update & Predict
            </button>
        </div>
    </form>
{% endblock %}