<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Description Text Clustering</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://use.fontawesome.com/a1a695add7.js"></script>
</head>
<body>

{#navbar#}
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            Description Text Clustering
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navMenu" class="navbar-menu">

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="{{ url_for('predict.about') }}" class="button is-dark">About</a>
                    {% if g.user %}
                        <a href="#" class="button is-dark">{{ g.user['username'] }}</a>
                        <a class="button is-primary" href="{{ url_for('predict.create') }}">+ New</a>
                        <a href="{{ url_for('auth.logout') }}" class="button is-light">Log Out</a>
                    {% else %}
                        <a href="{{ url_for('auth.register') }}" class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a href="{{ url_for('auth.login') }}" class="button is-light">
                            Log in
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="section has-background-light">
    <div class="container">
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</section>

{#footer#}
<footer class="footer has-background-light">
    <div class="content has-text-centered">
        <p>
            <strong>Description Text Clustering</strong> by Group 6 UI-01 Microcredential Associate Data Scientist.
            Source Code is on <a href="https://github.com/lymau/linkedin-clustering">Github</a>.
        </p>
    </div>
</footer>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>